<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 pt-4" style="min-height: 400px;">
        <div class="position-relative h-100  animate__animated animate__fadeIn"
             pAnimateOnScsroll
             enterClass="fadein"
             leaveClass="fadeout">
          <img class="position-absolute img-fluid w-100 h-100" src="about.jpg" style="object-fit: cover;" alt="">
          <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5" style="background: rgba(0, 0, 0, .08);">
            <h1 class="display-4 text-white mb-0">20 <span class="fs-4">godina</span></h1>
            <h4 class="text-white">iskustva</h4>
          </div>
        </div>

      </div>
      <div class="col-lg-6">
        <h6 class="text-primary text-uppercase">// O nama //</h6>
        <h1 class="mb-4"><span class="text-primary">AUTO KEMO</span> Is The Best Place For Your Auto Care</h1>
        <p class="">Uspostavljen prije skoro 20 godina, Auto Kemo se ponosi svojom reputacijom za
                        pružanje visokokvalitetnih usluga svih vrsta popravaka, kupoprodaje i uvoza vozila raznih marki.</p>

        <p class="mb-4">S obzirom na višegodišnju tradiciju u pružanju raznih usluga, vjerujemo da nam se sa punim povjerenjem možete obratiti u koliko
                        trebate bilo kakvu a vezana je za Vašeg ljubimca. Mi ćemo dati sve od sebe da usluge obavimo profesionalno i kvalitetno.</p>
        <div class="row g-4 mb-3 pb-3">
          <div class="col-12  animate__animated animate__fadeIn" data-wow-delay="0.1s">
            <div class="d-flex">
              <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                <span class="fw-bold text-secondary">01</span>
              </div>
              <div class="ps-3">
                <h6>24/7</h6>
                <span>Vama na usluzi</span>
              </div>
            </div>
          </div>
          <div class="col-12  animate__animated animate__fadeIn" data-wow-delay="0.3s">
            <div class="d-flex">
              <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                <span class="fw-bold text-secondary">02</span>
              </div>
              <div class="ps-3">
                <h6>Brza dostava</h6>
                <span>bilo gdje</span>
              </div>
            </div>
          </div>
          <div class="col-12  animate__animated animate__fadeIn" data-wow-delay="0.5s">
            <div class="d-flex">
              <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                <span class="fw-bold text-secondary">03</span>
              </div>
              <div class="ps-3">
                <h6>100% Zadovoljstvo</h6>
                <span>zagarantovano</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
