<!-- Fact Start -->
<div class="container-fluid fact bg-dark my-5 py-5 ">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-6 col-lg-3 text-center  animate__animated animate__fadeIn animate__delay" data-wow-delay="0.1s">
        <img class="mb-3" src="oil-1.png" alt="">
        <h3 class="text-white mb-2" data-toggle="counter-up">Zamjena ulja i filtera</h3>
        <p class="text-white mb-0">na vrijeme štiti unutrašnje dijelove motora i produžava vijek trajanja
        </p>
      </div>
      <div class="col-md-6 col-lg-3 text-center  animate__animated animate__fadeIn animate__delay" data-wow-delay="0.3s">
        <img class="mb-3" src="maint-1.png" alt="">
        <h3 class="text-white mb-2" data-toggle="counter-up">Redovno održavanje</h3>
        <p class="text-white mb-0">na vrijeme pomaže u sprječavanju skupih popravki kasnije</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center animate__animated animate__fadeIn animate__delay" data-wow-delay="0.5s">
        <img class="mb-3" src="transmission-1.png" alt="">
        <h3 class="text-white mb-2" data-toggle="counter-up">Ispravna usluga prijenosa</h3>
        <p class="text-white mb-0">osigurava da Vaše auto besprijekorno šalta kroz zupčanike</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center  animate__animated animate__fadeIn animate__delay" data-wow-delay="0.7s">
        <img class="mb-3" src="susp-1.png" alt="">
        <h3 class="text-white mb-2" data-toggle="counter-up">Popravka ovjesa</h3>
        <p class="text-white mb-0">na vrijeme produžava vijek guma i čini vožnju ugodnom</p>
      </div>
    </div>
  </div>
</div>
<!-- Fact End -->
