/* You can add global styles to this file, and also import other style files */

@import "theme/bootstrap";
//@import "theme/bootstrap.min.css";
@import "theme/style.css";
@import "swiper/swiper";
@import "swiper/modules/parallax";


@import "theme/bootstrap-primeng/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";

.p-carousel .p-carousel-content .p-carousel-prev {
  position: absolute;
  left: 0;
  z-index: 99;
  background: white;
  border-radius: 50%;
  margin-left: 20px;

}
.p-carousel .p-carousel-content .p-carousel-next {
  position: absolute;
  z-index: 99;
  right: 0;
  border-radius: 50%;
  background: white;
  margin-right: 20px;
}

.p-submenu-list {
  padding-left: 0;
}

.p-submenu-icon,
.p-menuitem-icon,
.p-menuitem-text {
  color: whitesmoke;
}

.p-submenu-list {
  background-color: #3a59ac ;
}
