<!--<app-carousel></app-carousel>-->

<app-services-cards></app-services-cards>
<app-about-us-section></app-about-us-section>

<div class="container-xxl py-5  ">
  <div class="container">
    <div class="row">
      <div class="col-12 ">
        <div class="d-flex flex-column align-items-center ">
          <h1>Promo video</h1>
          <p>Agencija <strong>DAN</strong> nam je pomogla u pravljenju našeg prvog promotivnog videa</p>
          <iframe width="500" height="281" src="https://www.youtube.com/embed/YIqxscUG1NA?feature=oembed" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
        </div>
      </div>

    </div>
  </div>
</div>

<app-facts-cards></app-facts-cards>
<app-services-cards-2></app-services-cards-2>


